@import "/public/style/variables";

.buttons {
  margin-top: 50px;
  display: flex;
  width: 100%;
  gap: 50px;

  button {
    width: 300px;
  }
}
.formContainer {
  width: 60vw;
  padding: 28px 48px 48px 48px;
}
.fields {
  display: flex;
  flex-direction: column;
}
.inputs {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  padding-bottom: 10px;
}
.title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  margin-left: 5px;
}