$green: rgb(34, 197, 94);
$card: rgb(28, 25, 23);
$border: rgb(39, 39, 42);
$bg-color: #0C0A09;

$white: #FAFAFA;
$white-hover: rgba(250, 250, 250, 0.8);
$white-muted: rgba(250, 250, 250, 0.5);
$dark: rgb(24, 24, 27);
$gray-text:  rgb(161, 161, 170);
$red: rgb(225, 29, 72);
$bg-gray: rgb(39, 39, 42);
$bg-dark: rgb(9, 9, 11);
$bg-gray-hover: rgb(41, 37, 36);
