@import "/public/style/variables";
@import "/public/style/media";

.buttons {
  flex-direction: column;
  margin-top: 50px;
  display: flex;
  width: 100%;
  gap: 15px;

  button {
    width: auto;
  }
}
.formContainer {
  width: 485px;
  padding: 28px 48px 48px 48px;

  @include xs {
    width: 100%;
    padding: 28px 25px 25px 20px;
  }
}
.fields {
  display: flex;
  flex-direction: column;
}
.inputs {
  align-self: center;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  padding-bottom: 10px;
}
.title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  margin-left: 5px;
}
