@import "/public/style/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addModal {
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addTitle {
  color: $white;
  font-size: 25px;
  font-weight: 500;
}