@import "/public/style/variables";
@import "/public/style/media";

.addModal {
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include xs {
    width: 100%;
    padding: 25px;
  }
}
.addTitle {
  color: $white;
  font-size: 25px;
  font-weight: 500;

  @include xs {
    font-size: 20px;
  }
}
