@import "/public/style/variables";

.listTitle {
  color: rgb(161, 161, 170);
  display: grid;
  padding: 8px 12px;
  grid-template-columns: auto 1fr 1fr 1fr;
  border-bottom: 1px solid $border;

  div {
    justify-self: center;
  }
}
.tableTitle {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 18;
}
.group {
  padding: 15px 0;
  background-color: $card;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dateSeparator {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 10px;
  color: $white;
}
