@import "/public/style/variables";
@import "/public/style/media";


.content {
  margin-top: 10px;
  display: flex;
  gap: 50px;

  @include lg {
    flex-direction: column-reverse;
    gap: 15px;
  }
}

.costList {
  flex: 1;
  width: 60%;
  overflow: auto;
  max-height: 80vh;
  min-height: 70vh;
  overflow-x: hidden;
  background-color: $bg-color;

  @include lg {
    width: 100%;
  }
}
.costList::-webkit-scrollbar {
  width: 7px;
}

.costList::-webkit-scrollbar-track {
  background: $bg-color;
  border-radius: 6px;

}

.costList::-webkit-scrollbar-thumb {
  background: $white;
  border-radius: 6px;

}

.costList::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.costAside {
  width: 30%;
  max-height: 250px;
  background-color: $card;

  @include lg {
    width: 100%;
  }
  @media (width <= 890px) {
    width: max-content;
  }
  @include xs {
    width: 100% ;
  }
}
