@import "/public/style/variables";
@import "/public/style/media";


.homeHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include xs {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.currentDate {
  font-weight: 500;
  font-size: 30px;
  color: $green;



}
.title {
  color: $white;
  font-weight: 500;
  font-size: 40px;
}
